#RegistrationOuterContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

#RegistrationInnerContainer {
    width: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 1em;
    border-radius: 0.5em;
    padding-bottom: 1em;
}

#signup {
    background-color: #4a90e2;
    color: white;
    padding: 1em 2em;
    border-radius: 0.5em 0.5em 0 0;
    margin-bottom: 1em;
}

#registerForm {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#registerForm .redStar {
    color: red;
}

#registerForm .inputControl {
    margin-bottom: 1em;
}

#registerForm .inputControl input {
    display: block;
    width: 100%;
    margin-top: 0.4em;
    border: none;
    border-bottom: 1px solid #4a90e2;
    padding: 0.5em 0;
}

#registerForm .inputControl input:focus {
    outline: 0;
}

#registerForm .inputControl label {
    color: #6b7c93;
}


#registerForm .inputControl small {
    visibility: hidden;
    color: #6b7c93;
}

#registerForm .inputControl.success small {
    visibility: visible;
    color: #6b7c93;
}

#registerForm .inputControl.error small {
    visibility: visible !important;
    color: red;
}

#registerForm .inputControl.success input {
    /* border-color: #2ecc71; */
    border-bottom: 1px solid #2ecc71;

}

#registerForm .inputControl.error input {
    border-bottom: 1px solid #e74c3c;
}



#registerForm #registerButton {
    background-color: #4a90e2;
    color: white;
    border-radius: 0.4em;
    border: none;
    outline: none;
    padding: 1em;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

#registerForm #registerButton:hover {
    filter: brightness(80%);
}